<div class="vt-comments-form-container">
  <div class="vt-users">
    {{avatar user imageSize="large"}}
  </div>
  <div class="vt-comments-form">
    <input
      class="vt-comments-form-input"
      value={{comment}}
      placeholder="Nhập bình luận"
    />

      {{d-button
        class="btn-primary"
        action=(action "createComment")
        type="submit"
      }}
  </div>
</div>
