
<p class="vt-reply-form-container-p" style="font-weight: 600; font-size: 16px; color: #000000;">
  <span>TRẢ LỜI</span>
</p>
<div class="vt-reply-form-container">
  <textarea
    class="vt-reply-form-input"
    placeholder="Nhập câu trả lời....."
  />
    {{d-button
      type="submit"
      class="btn-primary"
      action=(action "save")
      forwardEvent=true
      isLoading=isProcess
      disabled=isProcess
    }}
</div>
